.fundity {
  display: inline-block;
}
.fundity.home-decision {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -812px;
  background-size: 306px 1126px;
  width: 150px;
  height: 150px;
}
.fundity.home-fast {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -660px;
  background-size: 306px 1126px;
  width: 162px;
  height: 150px;
}
.fundity.home-free {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -964px;
  background-size: 306px 1126px;
  width: 162px;
  height: 162px;
}
.fundity.home-secure {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -542px;
  background-size: 306px 1126px;
  width: 93px;
  height: 116px;
}
.fundity.home-service {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -424px;
  background-size: 306px 1126px;
  width: 121px;
  height: 116px;
}
.fundity.home-transparent {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -306px;
  background-size: 306px 1126px;
  width: 139px;
  height: 116px;
}
.fundity.login-email {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -28px;
  background-size: 306px 1126px;
  width: 24px;
  height: 15px;
}
.fundity.login-name {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -64px;
  background-size: 306px 1126px;
  width: 16px;
  height: 19px;
}
.fundity.login-password {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -85px;
  background-size: 306px 1126px;
  width: 16px;
  height: 20px;
}
.fundity.logo-lg {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -219px;
  background-size: 306px 1126px;
  width: 306px;
  height: 85px;
}
.fundity.logo-light {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -153px;
  background-size: 306px 1126px;
  width: 143px;
  height: 31px;
}
.fundity.logo {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -186px;
  background-size: 306px 1126px;
  width: 143px;
  height: 31px;
}
.fundity.tick-lg {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px 0px;
  background-size: 306px 1126px;
  width: 11px;
  height: 7px;
}
.fundity.tick-sm {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -9px;
  background-size: 306px 1126px;
  width: 11px;
  height: 7px;
}
.fundity.tick-white {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -18px;
  background-size: 306px 1126px;
  width: 12px;
  height: 8px;
}
.fundity.topnav-language-light {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -130px;
  background-size: 306px 1126px;
  width: 21px;
  height: 21px;
}
.fundity.topnav-language {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -107px;
  background-size: 306px 1126px;
  width: 21px;
  height: 21px;
}
.fundity.upload-document {
  background-image: url($fundity-spritesheet-path);
  background-position: 0px -45px;
  background-size: 306px 1126px;
  width: 27px;
  height: 17px;
}
